
 /* reset css */
  
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
  
html{
   scroll-behavior: smooth;/*hành vi khhi cuộn */
  font-family: Arial, Helvetica, sans-serif;
} 


/* common (dùng chhung) */

 .row::after{  /*cachs khắc phục lỗi không ôm thẻ con*/
  content:"";
  display:block;
  clear:both;
 }
  .margin-top{
    margin-top:8px;
  }

 .text-white{
  color:#fff !important; /* độ ưu tiên mạnh  */
 }

  .share-hover:hover{
  background-color: #757575;
  color:#000;
  cursor:grabbing;
  
 }
   
   .text-center{
    text-align:center !important

   }
  
  .row{
    margin-left:-8px;
    margin-right:-8px;

  }
   .column{
    float:left;
    padding:0 8px;

   }
    
   .column-third{
    width:calc(100%/3);


   }
   
   .column-half{
    width:50%;
   }
   .column-full{
    width: 100%;
   }



   /*
   1. làm từ ngoài vào trong 
   2. làm tuè trên xuống dưới
   3.làm từ tổng quan đến chi tiết
   */

   /*
    1.vị trí
    2.kích cở (width , height)
    3.màu sắc
    4.kiểu dáng ( kiểu chử....)
   */



   
   

   #header{
     height:46px;
     background-color: #000;
     position:fixed;   /* lệnh position:fixed nầy giúp cho phần header dính sát phía trên khi cuônnj không bị trôi. inset để viết gọn viêtj canh 4 hướng thai vè là top , right,bottom,left,    */
     inset:0 0 auto 0;  /* viết tắt của top right bottom left */
     z-index:1;       /* Nếu phần header bị chìm bên dưới ảnh sử dụng lệnh nầy để giúp header nổi lên lại  */
     overflow:hidden;
     max-width:100%;
  
     }
  
    /* Navigation */
    #nav{
      display:inline-block;
    }
   
    #nav li {
      display:inline-block;
      position:relative;  
    }

    #nav li a{
      line-height:46px;
      padding:0 24px; 
      text-decoration: none;  
      display: block;
    }

    #nav > li > a{
      color:aliceblue;
      text-transform: uppercase;
    }
     #nav li:hover .supnav{
      display:block; /*do display:block  mạnh hơn thẻ display:inline-block nên khi nên khi di chuột vào sẽ thực hiện thẻ nầy  */
     }
    #nav > li:hover > a{
      background-color:#ccc;
      color:#000;
      display: inline-block;
    }
    #nav .supnav li:hover{ /*có thể gộp thẻ nầy với thẻ trên lại để gọn hơn ( #nav .supnav li:hover a, #nav > li:hover > a*/
      background-color:#ccc;
      color:#000;
      display: inline-block;
     }
    #nav .supnav{
      display:none; 
     position:absolute;
    /* display: flex;  ( Tạo một thùng chứa)
     flex-direction: column; (Xac định hướng cho dòng hoặc cột ,column:là cột ,row-reverse:là hàng và đảo ngược vị trí ngược lại so với mặt định */ 
     background-color: #fff;
     box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
     min-width:160px;
    }

     #nav .nav-icon{
      font-size:12px;
     }
    
      #nav .supnav li ,
       #nav .supnav a{
        width:100%;
        color:#000;
        padding:0 8px
      }


        
        /* search */
      #header .mobile-menu-btn ,
      #header .search-btn{
        float:right;/*khi moọt thẻ div có tính chất kế thừa chiều ngang đi nửa thì khi đưa 'float ' vào thì sẽ bị mất tính kế thừa */
        padding:0 20px;
        
      }
      
      #header .search-btn:hover {
        background-color:coral;
        cursor:pointer; /*cursor: để thai đổi kiểu con trỏ chuột */
      }
      #header .mobile-menu-btn:hover{
        background-color:#ccc;
        
      }
      #header .mobile-menu-btn:hover .menu-icon{
        color:#000;
      }


      #header .menu-icon ,
      #header .search-icon{
        color:#fff;
        line-height:46px;  /*line-height: có công dụng để căn giửa khoản cách bên trong của thể cha, lúc nầy thẻ <div> cha height=46px */
        font-size:20px 
      }


         /* slider */
    #slider{
      padding-top:50%;  /*tức là cho tỉ lệ chiều rộng bằng một nủa chiều ngang(chiều ngang mặt định úc nầy =100%) */
      
      margin-top:46px; /*chừa chổ cho phần header nếu không phần header sẽ bị đẩy nổi lên trên do header lúc nầy đang có thuộc tính position:fixed */
      background:url(/assets/img/chicago.jpg) top center / cover no-repeat;
      position:relative;
    }

    #slider .text-content{
       color:#ccc;
       position:absolute;
       bottom:46px;
      /* left:50%;
       transform:translateX(-50%); ( Canh giửa cho phần trong khối nhỏ  ) */  
       text-align:center; /* Canh phần nằm ngoài khối nhỏ ngay giửa */
      /* width:100%;  ( Cach 2 để canh giử cho khối nhỏ  ) */
       left:0;
       right:0; /*cach thu 3 */
    }
    #slider .text-heading{
      font-weight:600;/* chỉnh độ dầy của chử dao động từ 100 - 700 */
      font-size:24px;
      margin-bottom:25px;

    }
    #slider .text-discription{
     font-size:15px; 
    }

   

       /* band  */
   #content .content-section{
    width: 800px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding:64px 0;
   }
   #content .section-heading{
     text-align:center;
     font-size:30px;
     font-weight:500;  /* độ dầy của chử */
     letter-spacing:4px;  /* khoanr cachs giửa các từ */
   }
   #content .section-sup-heading{
    text-align:center;   /* Canh giửa */
    margin-top:25px;
    font-size:15px;
      /* Theo mmẩu là sử dụng mảrgin con luc nay dan su dung padding  */
      opacity:0.6;  /* Lamf mờ nội dung của thẻ */
   }
   #content .about-text{
    font-size:15px;
    line-height:25px; /*KHoang cách giử các dong*/
    text-align:justify ; /*canh chu đầu dòng và cuối dòng bằng nhau */
    margin-top:25px;
   }

   #content .member-list{
     padding-top:48px;
     overflow:hidden; /* khắc phục lỗi không ôm đc thẻ con khhi sử dụng (float) */
   }
   
  
   #content .member-name{
    margin:15px 0;
   }

   #content .member-avata{
    margin-bottom:16px;
    border-radius:4px; /* taoj góc bo cho hình ảnh */
    width:154px; /* kichs cở ảnh */
   }





    /* Tour ssection */
    .tour-section{
      background-color:#000;
      
    }
     .tickets-lits{
      background-color:#fff;
      margin-top:40px;
     }
     .tickets-lits li{
      padding:8px 16px;
      border-bottom:1px solid gray;
      color:#757575;
      font-size:15px;
      list-style:none;  /* xóa dấu chấm đằng trước của (li) */
     }
     .tickets-lits .sold-out{
      padding:0 8px;
      margin:0 16px;
      background-color:#f44336;
      color:#fff;
     }
     .tickets-lits .quantity{
      float:right;
      padding:0 8px;
      margin-right:16px;
      background-color:#000;
      color:#fff;
      border-radius:50%; /* tạo một khối hình vuôn thành hình tròn */
      width:24px;
      /* chir sử dụng đc (margin) số âm khi đi cùng với (float) */
     }




     /* places */
     .places-list{
      padding-top:32px;
      padding-bottom:48px;
     /* margin:0 -16px;  /* để canh hai mép ngoài khi bị lệch ,phải viết ở thẻ cha chứa thẻ con đó */
      overflow: hidden;
        }
    
    
    .places-img{
      width:100%;
      display:block;  /* do (img) lúc nầy có tính chất của díplay:inline nên phải thai bằng display:block đẻ thẻ cha nó có thể ôm trọn hết  */ 
       }

    .places-img:hover{
      opacity:0.6; /* opacity: độ mờ đục */
       }
    
    .places-body{
      background-color:#fff;
      padding:16px ;
      font-size:15px;
        }

     .places-heading{
      margin:15px 0;
      font-weight:600;
        }

     .places-time{
      color:#757575;
        }

     .places-discribe{
      margin:15px 0;
      line-height: 1.5;
        }
     .places-buy-btn{
      margin-bottom: 16px;
      color: #fff;
      background-color: black;
      padding: 11px 16px;
      display:inline-block;  /* lúc nầy thẻ đang mang tính chất của inline khi padding lên vì có tính chất của inline nê thẻ nayaf không chạm viền với hẻ khác mà sẽ nổi lên trên để khắc phục thì cần đổi lại thành display:inline-block */
        }




         /* contact */
   #content .contact-section{
        max-width:800px; 
        margin-left:auto;   /* cang giửa cho khối */
        margin-right:auto;  /*                     */
        padding:64px 16px;
     } 
    .section-sup-heading{
      margin:15px 0;     
    }

    .contact-content{
      display:flex;
      margin-top:48px;
    }
     
    .contact-infor{
      font-size:18px;
      line-height: 1.5;
    }
    
    .contact-infor p i {
      width: 30px;
      display: inline-block;
    }
 
    .contact-form{
      font-size:15px;

    }
    .contact-form .form-control{
      padding:10px;
      border: 1px solid #ccc;
      width: 100%;
    }

    .contact-form .submit-form{
      margin-top:18px;
      float:right;
      padding:11px 19px;
      background-color:#000;
      color:#fff;
    }

    /* Map */
    .map-section img {
    width:100%;
    display:inline-block;
    }
     



     /* footer */
     #footer{
      padding:36px 16px;
      text-align:center;
     }

     #footer .socials-list a {
      text-decoration:none; /* thường để xóa dấu gạch chân,in đậm... */
     color:#000;
     }

     #footer p{
      margin:15px 0 ;
      color:#000;
     }
     #footer .socials-list a:hover ,
     #footer p:hover{
      color:#757575;
     }
     


    
     /*MOdal*/
   .modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.3);
    /* để modal-container nằm giửa thẻ cha modal thì phải biến thẻ cha modal thành dạng (diplay:flex) rồi dùng (align-items:center) để canh giữa height,(justify-content:center) để canh giữa width */
    
    align-items:center;
    justify-content:center; 
    display:none; /* tắt mmodal khi chưa có js */  
  }
  .modal.open{
    display:flex;
  }
   .modal-container{
    width: 900px;
    max-width:calc(100% - 40px) ; /* để khi thu nhỏ trang web lại phần modal vẫn chừa mỗi bên 20px ( số phía sau phải cách dấu trừ ra ) */
    min-height:200px;
    background-color:#fff;
    position:relative;
    animation:modaldein ease 0.4s;

   }
   .modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    cursor:pointer; /* thai đổi kiểu con trỏ chuột*/
    color:#fff;
    
    }
    .modal-close:hover{
      background-color:#757575;
      border-radius:4px; /* taoj góc bo cho hình ảnh */
    }
   
   .modal-header{
    background-color: rgb(7, 103, 71);
    height:130px;
    display: flex;           /*                     */
    align-items:center;      /*    canh giửa        */
    justify-content:center; /*                      */  
  }

  .modal-content{
    font-size:30px;
    color:#fff;
     letter-spacing:4px;  /* khoản cách giử các từ */
    width:860px;
    height:45px;
    margin:15px 0;
    display: flex;           /*                     */
    align-items:center;      /*    canh giửa        */
    justify-content:center; /*                      */
   }
    
   .modal-body {
    padding: 16px;
   }
    .modal-lebal{
      display:block;
      margin-bottom:10px;
      font-size:15px;
    }
    .modal-input{
      margin-bottom:24px;
      font-size:15px;
      padding:8px;
      width:100%;
      border:1px solid #ccc;
    }
   #buy-tickets{
    height:55px;
    width:860px;
    max-width:calc(100% - 40px) ; /* để khi thu nhỏ trang web lại phần modal vẫn chừa mỗi bên 20px */
    background-color: rgb(7, 103, 71);
    margin-bottom:16px;
    color:#fff;
    font-weight:500;  /* độ dầy của chử */
    font-size:15px;
    border:none;
    padding:18px;
   }
   #buy-tickets:hover{
    background-color:#757575;
    color:#fff;
   }
   .modal-footer{
    padding:16px;
    text-align:right;
   }
   .modal-footer a{
    color:rgb(13, 120, 174);
   }

   


  /* thực hiện hiệu ứng cuộn khối modal-container từ trên xuống kết hợp với ( animation:(tên được đặt ở @keyframes) ease 0.5s (thơi gian cuộn )) */
  @keyframes modaldein{
    from{
      opacity:0 ;
      transform:translateY(-164px);
    }
    to{
      opacity:1;
      transform:translateY(0px);

    }
  }

 
   











